.main {
    background: white;
}

.img {
    width: 30px;
}

.table {
    margin-top: 40px;
    margin-left: 40px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(224, 205, 170);
    padding: 10px;
    text-align: left;
  }