.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 10px 20px;
    width: 90vw;
}

.item {
    background: rgb(255, 255, 223);
    text-align: center;
    border-radius: 20px;
    padding-bottom: 20px;
}

.image {
    width: 300px;
}

.myButton {
    background: transparent;
    float: right;
    margin-top: 0.9em;
    font-size: 1em;
    margin-right: 2em;
    padding: 3px;
}

.name {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.1em;
}

.category {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.9em;
}

.qty {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.9em;
}

.basketButton {
    background: transparent;
    font-size: 1.3em;
    cursor: pointer;
    outline: none;
}